<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>coins</h2>
        <table>
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Coin</th>
                    <th>Price</th>
                    <th>image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% 
                
                for (let coin of coinData){ 
                    let number = 1;
                    %>
        
                    <tr>
                        <td>
                            <p><%= number %></p>
                            <%   number += 1 %>
                        </td>
                        <td>
                            <p><%= coin.name %></p>
                        </td>
                        <td>
                            <p>$<%= coin.price %></p>
                        </td>
                        <td>
                            <p><%= coin.image %></p>
                        </td>
                        <td>
                            <div class="edit-btn">
                                <a href="http://localhost:8080/update/<%=coin._id%>" class="edit">Edit</a>
                            </div>
                            <div class="edit-btn">
                                <a href="http://localhost:8080/delete/<%=coin._id%>" class="edit">Delete</a>
                            </div>
                        </td>
                    </tr>
                <%  
                  } %>
                </tbody>
            </table>
        
    </section>
</body>
</html>